{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
    <nav aria-label="breaadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'expenses' %}">Expenses</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Add Expenses</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'add-expense' %}" method="post">
                        {% include 'partials/_messages.html' %} {% csrf_token %}
                        <div class="form-group mt-2">
                            <label for="">Amount</label>
                            <input
                                type="number"
                                class="form-control form-control-sm"
                                name="amount"
                                value="{{ values.amount }}"
                            />
                        </div>
                        <div class="form-group mt-3">
                            <label for="">Description</label>
                            <input
                                type="text"
                                class="form-control form-control-sm"
                                name="description"
                                value="{{ values.description }}"
                            />
                        </div>
                        <div class="form-group mt-3">
                            <label for="">Category</label>
                            <select name="category">
                                {% for category in categories %}
                                <option name="category" value="{{ category.name }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mt-3 mb-3">
                            <label for="">Date</label>
                            <input type="date" class="form-control form-control-sm" name="expense_date" />
                        </div>
                        <input type="submit" value="submit" class="w-100 btn btn-primary btn-primary-sm" />
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}
