{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breaadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'expenses' %}">Expenses</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        My Expenses
                    </li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2">
            <nav aria-label="breaadcrumb">
                <a class="btn btn-primary" href="{% url 'add-expense' %}"
                    >Add Expense</a
                >
            </nav>
        </div>

        <div class="container">
            {% include 'partials/_messages.html' %} {% if expenses.count %}
            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr>
                        <td>{{ expense.amount }}</td>
                        <td>{{ expense.category }}</td>
                        <td>{{ expense.description }}</td>
                        <td>{{ expense.date }}</td>
                        <td>
                            <a
                                class="btn btn-primary"
                                href="{% url 'edit-expense' expense.id %}"
                                >Edit</a
                            >
                            <a
                                class="btn btn-danger mx-2 py-2 px-2"
                                href="{% url 'delete-expense' expense.id %}"
                                >Delete</a
                            >
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
